.imgWrapper2 {
	display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 3em;
    margin-left: 3vw;
    margin-right: 3vw;
    width: 14vw;
    height: 24vh;
}

.imgWrapper2 img {
    width: 100%;
    height: 100%;
}

.edit {
    display: flex;
}

.edit h3 {
    margin-left:auto;
    margin-top:auto;
    cursor: pointer;
}

.edit h3 :hover {
    transform: scale(1.1);
}

.profileWrapper {
    margin-left: 7vh;
    margin-right: 5vh;
    margin-top: 5vh;
    width: 20vw;
}

.introduceWrapper {
    width: 60vw;
    min-height: 20vh;
    margin-left: 50px;
    margin-top: 50px;
};