img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.edit {
    display: flex;
}

.edit h3 {
    margin-left:auto;
    margin-top:auto;
    cursor: pointer;
}

.edit h3 :hover {
    transform: scale(1.1);
}

.profileWrapper {
    margin-left: 7vh;
    margin-right: 5vh;
    margin-top: 5vh;
}

.introduceWrapper {
    width: 60vw;
    min-height: 20vh;
    margin-left: 50px;
    margin-top: 50px;
};



